[Unit]
Description=java app
[Service]
User=root
ExecStart=/bin/java -jar {{ app_path }}/app.jar
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10
[Install]
WantedBy=multi-user.target